[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 38593737+unappendixed@users.noreply.github.com
	name = Unappendixed
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nvim
[pull]
	rebase = false
[push]
    followTags = true
[init]
	defaultBranch = main
[alias]
	install-alias = ! git config --local alias.ensure-update '! git fetch && git submodule update --init --recursive --remote'
    graph = log --oneline --graph --all
    dft = difftool
    dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
    
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[merge]
    tool = "nvim"
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[pager]
    difftool = true
[includeIf "gitdir:~/gvr/**"]
    path = .gvr.gitconfig
[rerere]
    enabled = true
