[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = brad@bscarlson.com
	name = Unappendixed
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nvim
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	install-alias = ! git config --local alias.ensure-update '! git fetch && git submodule update --init --recursive --remote'
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
