[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 38593737+unappendixed@users.noreply.github.com
	name = Unappendixed
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nvim
[pull]
	rebase = false
[push]
    followTags = true
[init]
	defaultBranch = main
[alias]
	install-alias = ! git config --local alias.ensure-update '! git fetch && git submodule update --init --recursive --remote'
    graph = log --oneline --graph --all
    graphp = "!git -c color.ui=always log --oneline --graph --all | less -R"
    dft = difftool
    dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
    dft-show = "!f() { git show --format=fuller --no-patch \"$1\"; echo; for file in $(git diff --name-only \"$1^\" \"$1\"); do mkdir -p /tmp/difftastic/prev_$(dirname \"$file\") /tmp/difftastic/next_$(dirname \"$file\"); git show \"$1^:$file\" > /tmp/difftastic/prev_$file; git show \"$1:$file\" > /tmp/difftastic/next_$file; difft /tmp/difftastic/prev_$file /tmp/difftastic/next_$file; done; rm -rf /tmp/difftastic; }; f"
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[includeIf "gitdir:~/gvr/**"]
    path = .gvr.gitconfig
[rerere]
    enabled = true
